article.speakerslist.jumbotron.hidden-xs
    .container
        .row
        each speaker in speakersList
            .col-sm-4.text-center
                h3.speakerslist-title=speaker.title
                h5.speakerslist-name
                    | with
                    a(href=`/speakers/${speaker.shortName}`)=speaker.name
                p.speakerslist-info
                    a(href=href=`/speakers/${speaker.shortName}`)
                        img.speakerslist-img.img-circle(src=`/images/speakers/${speaker.shortName}_tn.jpg` alt=`Photo of ${speaker.name}`)